<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--  nav  -->
<nav th:fragment="nav" id="mainNav" class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#"><img src="../static/assets/images/logo.png" alt="logo"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
            <ul class="nav navbar-nav">
                <li> <a href="index"><span>Home</span></a> </li>
                <li class="dropdown"> <a href="list" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                         aria-expanded="false"><span> Shop</span></a>
                    <div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">
                        <div class="col-sm-8 col-md-8">
                            <ul>
                                <li><strong>Shop Pages</strong></li>
                                <li><a href="#">Standard Shop Page</a></li>
                                <li><a href="#">Small Products</a></li>
                                <li><a href="#">Medium Products</a></li>
                                <li><a href="#">Large Products</a></li>
                                <li><a href="#">Sidebar</a></li>
                                <li><a href="#">Pagination</a></li>
                                <li><a href="#">Shop Infinity</a></li>
                            </ul>
                            <ul>
                                <li><strong>Products Pages</strong></li>
                                <li><a href="#">Product Page V1</a></li>
                                <li><a href="#">Product Page V2</a></li>
                                <li><a href="#">Product Page V3</a></li>
                                <li><a href="#">Product Page V4</a></li>
                                <li><a href="#">Simple Product</a></li>
                                <li><a href="#">Variable Product</a></li>
                                <li><a href="#">External Product</a></li>
                            </ul>
                            <ul>
                                <li><strong>Other Shop Pages</strong></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">LookBook</a></li>
                                <li><a href="#">Shopping Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Checkout</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-4"> <img src="../static/assets/images/Hover-menu-img.jpg" alt="Hover-menu-img"> </div>
                    </div>
                </li>
                <li> <a href="#" class="dropdown-toggle"><span>About</span></a> </li>
                <li> <a href="blog"><span>Blog</span></a> </li>

                <li> <a href="contact"><span>Contact</span></a> </li>
                <li> <a href="list"><span>Elements</span></a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target=".popup1"><img src="../static/assets/images/top-icon1.png" alt="top-icon1">
                        <span>Search</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn"> <img src="../static/assets/images/top-icon3.png" alt="top-ico3"> <span>Cart (0)</span> </a>
                    <div class="dropdown-content">
                        <div class="cart-content">
                            <div class="col-sm-4 col-md-4"><img src="../static/assets/images/Products/13.jpg" alt="13"></div>
                            <div class="col-sm-8 col-md-8">
                                <div class="pro-text"> <a href="#">Pellentesque Habitant</a>
                                    <div class="close">x</div> <strong>$160.00</strong>
                                </div>
                            </div>
                        </div>
                        <div class="cart-content">
                            <div class="col-sm-4 col-md-4"><img src="../static/assets/images/Products/11.jpg" alt="13"></div>
                            <div class="col-sm-8 col-md-8">
                                <div class="pro-text"> <a href="#">Pellentesque Habitant</a>
                                    <div class="close">x</div> <strong>$160.00</strong>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <div class="col-sm-6 col-md-6 text-left"> <span>Shipping :</span>
                                <br> <strong>Total :</strong> </div>
                            <div class="col-sm-6 col-md-6 text-right"> <strong>$0.00</strong>
                                <br> <strong>$160.00</strong> </div>
                        </div>
                        <div class="col-lg-12"><a href="shopping-cart" class="cart-btn">VIEW CART </a> <a href="checkout"
                                                                                                               class="cart-btn">CHECKOUT</a></div>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target=".menu-popup"><img src="../static/assets/images/top-icon2.png" alt="top-icon2"></a>
                </li>
            </ul>
            <!-- /.navbar-collapse -->
        </div>
    </div>
</nav>
<!--  /nav  -->
</body>
</html>