<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="script">
			<script src="../static/assets/js/jquery.js"></script>
			<!-- Bootstrap Core JavaScript -->
			<script src="../static/assets/js/bootstrap.min.js"></script>
			<script src="../static/assets/js/bootstrap-dropdownhover.min.js"></script>
			<script src="../static/assets/js/incrementing.js"></script>
			<!-- Plugin JavaScript -->
			<script src="../static/assets/js/jquery.easing.min.js"></script>
			<script src="../static/assets/js/wow.min.js"></script>
			<!--  filterizr JavaScript  -->
			<script src="../static/assets/js/controls.js"></script>
			<script src="../static/assets/js/jquery.filterizr.js"></script>
			<!--  Custom Theme JavaScript  -->
			<script src="../static/assets/js/custom.js"></script>
			<!-- owl carousel -->
			<script src="../static/assets/owl-carousel/owl.carousel.js"></script>
		</div>
	</body>
</html>
