<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="subscribe" class="subscribe text-center">
    <!-- .subscribe -->
    <div class="container">
        <h2>Get Discount Info</h2>
        <p>ubscribe to the Outstock mailing list to receive updates on new arrivals, special offers and
            <br> other discount information.</p>
        <input type="text" placeholder="Subscribe to our newsletter...">
        <input type="button" value="Subscribe">
    </div>
    <!-- /.subscribe -->
</section>
</body>
</html>