<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"/>

<body>


<!--  Preloader  -->
<div th:replace="common/preloader::preloader"/>
<header>
    <nav th:replace="common/nav::nav"/>
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>
</header>
<section class="blog blog-deatils">
    <!-- .blog -->
    <div class="container">
        <div class="col-sm-12 col-md-12 blog-deatails">
            <p class="hank text-center"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
            <p class="time text-center">By <span>Zcubedesign</span> / September 14, 2017</p>
            <img class="blog-img2" src="../static/assets/images/blog-post-large.jpg" alt="gallery1"/>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat nulla facilisis at vero eros et...</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                    <blockquote>
                        <p>Creativity is just connecting things. When you ask creative people how they did something,
                            they feel a little guilty because they didn’t really do it, they just saw something.</p>
                    </blockquote>
                    <img class="blog-img2" src="../static/assets/images/blog-post-02.jpg" alt="gallery1"/>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="blog-tags-social row">
                <div class="blog-social col-md-6"><strong>Share to friends:</strong>
                    <ul class="social-list">
                        <li class="box"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="box"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="box"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="box"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="box"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="blog-tag col-md-6 text-right"><strong>Tags:</strong> <a href="#" rel="tag">Fashion</a><a
                        href="#tag/properties/" rel="tag">zcubedesign</a><a href="#tag/summer/" rel="tag">Clothing</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <!-- .comment-post-img -->
                    <div class="comment-post-img">
                        <h2>You Might Also Like</h2>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="blog-img"><img class="img-responsive"
                                                           src="../static/assets/images/blog-img01.jpg"
                                                           alt="sample image">
                                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip"
                                                                               aria-hidden="true"></i></a></div>
                                </div>
                                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                                <p class="time"><span class="date">August 02, 2017</span> by <span>Zcubedesign</span>
                                </p>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="blog-img"><img class="img-responsive"
                                                           src="../static/assets/images/blog-img06.jpg"
                                                           alt="sample image">
                                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip"
                                                                               aria-hidden="true"></i></a></div>
                                </div>
                                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                                <p class="time"><span class="date">August 02, 2017</span> by <span>Zcubedesign</span>
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- .comments-area -->
                    <div class="comments-area">
                        <div class="comment-respond comment-replay">
                            <h2><span>Comments (32)</span></h2>
                            <div class="col-md-2 bdrright"><img src="../static/assets/images/comment-img1.jpg"
                                                                alt="comment-img1"></div>
                            <div class="col-md-10 bdr3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="time">Artice by <span>Zcubedesign</span> in <span class="date">August 02, 2017</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4 text-right pad">
                                        <a href="#" class="reply"><img
                                                src="../static/assets/images/reply-icon.jpg" alt="reply-icon"/>
                                            Reply</a>
                                    </div>
                                </div>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam.</p>
                            </div>
                            <div class="col-md-2 bdrright offset2"><img
                                    src="../static/assets/images/comment-img2.jpg" alt="comment-img1"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="time">Artice by <span>Zcubedesign</span> in <span class="date">August 02, 2017</span>
                                        </p>
                                    </div>
                                    <div class="col-md-4 text-right pad">
                                        <a href="#" class="reply"><img
                                                src="../static/assets/images/reply-icon.jpg" alt="reply-icon"/>
                                            Reply</a>
                                    </div>
                                </div>
                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                    adipisci velit, sed quia non numquam.</p>
                            </div>
                        </div>
                    </div>


                    <!-- .comments form -->
                    <div id="comments" class="comments-area">
                        <div id="respond" class="comment-respond">
                            <h2><span>Leave a comment</span></h2>
                            <p>Submit Comment</p>
                            <form action="#" method="post" id="commentform" class="comment-form">
                                <p>Name <span>*</span></p>
                                <p class="comment-form-author">
                                    <input id="author" name="author" value="" size="30" type="text">
                                </p>
                                <p>Email <span>*</span></p>
                                <p class="comment-form-email">
                                    <input id="email" name="email" value="" size="30" type="text">
                                </p>
                                <p>Comments <span>*</span></p>
                                <p class="comment-form-comment">
                                    <textarea id="comment" name="comment" cols="45" rows="8" placeholder="Comment"
                                              aria-required="true"></textarea>
                                </p>
                                <p class="form-submit">
                                    <input name="submit" id="submit" class="btn btn-secondary" value="send messages"
                                           type="submit"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
        <!-- /.blog -->
    </div>
</section>
<div th:replace="common/script::script"/>
</body>

</html>
