<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Outstock | A Premium Multi - Ecommerce</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="../static/assets/img/ficon.png">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- latest fonts awesome -->
    <link rel="stylesheet" href="../static/assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/assets/css/style.css" type="text/css">
    <!-- slider CSS -->
    <link rel="stylesheet" href="../static/assets/css/slider.css" type="text/css">
    <!--  baguetteBox -->
    <link rel="stylesheet" href="../static/assets/css/baguetteBox.css">
    <!-- Owl Carousel Assets -->
    <link href="../static/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!--  Preloader  -->
<div id="preloader">
    <div id="loading">
    </div>
</div>
<header>
    <nav th:replace="common/nav::nav"/>
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>
    <div class="inner-header inner-blog-header">
        <!-- .inner-header -->
        <h2>Blog 03 columns</h2>
        <div class="bdr">
            <ul>
                <li>Home</li>
                <li>/</li>
                <li>Shop</li>
                <li>/</li>
                <li><span>Blog 03 columns</span></li>
            </ul>
        </div>
        <!-- /.inner-header -->
    </div>
</header>
<section class="blog">
    <!-- .blog -->
    <div class="container">
        <!-- Filter Controls - Simple Mode -->
        <div class="row">
            <!-- A basic setup of simple mode filter controls, all you have to do is use data-filter="all"
             for an unfiltered gallery and then the values of your categories to filter between them -->
            <div class="col-md-12">
                <ul class="simplefilter">
                    <li class="active" data-filter="all">all</li>
                    <li data-filter="1">fashion</li>
                    <li data-filter="2">entertaiment</li>
                    <li data-filter="3">business</li>
                    <li data-filter="4">photography</li>
                    <li data-filter="5">other</li>
                </ul>
            </div>
        </div>
        <div class="row filtr-container baguetteBoxThree">
            <div class="col-sm-4 col-md-4 filtr-item" data-category="1, 5" data-sort="Busy streets">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img01.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>
            <div class="col-sm-4 col-md-4 filtr-item" data-category="2, 5" data-sort="Luminous night">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img02.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>
            <div class="col-sm-4 col-md-4 filtr-item" data-category="1, 4" data-sort="City wonders">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img03.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>
            <div class="col-sm-4 col-md-4 filtr-item" data-category="3" data-sort="In production">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img04.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>
            <div class="col-sm-4 col-md-4 filtr-item" data-category="2" data-sort="Industrial site">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img05.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>
            <div class="col-sm-4 col-md-4 filtr-item" data-category="3" data-sort="Peaceful lake">
                <div class="blog-img">
                    <img class="img-responsive" src="../static/assets/images/blog-img06.jpg" alt="sample image">
                    <div class="blog-img-hover"><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></div>
                </div>
                <p class="hank"><a href="blog-details.html">How To Wear Prints In Winter</a></p>
                <p class="time">By <span>Erentheme</span> / September 14, 2017</p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu
                    feugiat nulla facilisis at vero eros et...</p>
                <a href="#" class="readbtn">Read More</a>
            </div>

        </div>
        <div class="pagetions">
            <!-- .pagetions -->
            <div class="col-md-12">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <!-- /.pagetions -->
        </div>
    </div>
    <!-- /.blog -->
</section>
<section th:replace="common/subscribe::subscribe"/>
<footer th:replace="common/footer::footer"/>
<script src="../static/assets/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/bootstrap-dropdownhover.min.js"></script>
<script src="../static/assets/js/incrementing.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/assets/js/jquery.easing.min.js"></script>
<script src="../static/assets/js/wow.min.js"></script>
<!--  filterizr JavaScript  -->
<script src="../static/assets/js/controls.js"></script>
<script src="../static/assets/js/jquery.filterizr.js"></script>
<!--  Custom Theme JavaScript  -->
<script src="../static/assets/js/custom.js"></script>
<!-- owl carousel -->
<script src="../static/assets/owl-carousel/owl.carousel.js"></script>
<script>
    $(function () {
        //Initialize filterizr with default options
        $('.filtr-container').filterizr();
    });
</script>
</body>

</html>
