<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head::head"/>

<body>


<!--  Preloader  -->
<div th:replace="common/preloader::preloader"/>
<header>
    <nav th:replace="common/nav::nav"/>
    <!--  top header  -->
    <div class="col-sm-4 col-md-4">
        <!--  top-header-wrapper  -->
        <div class="nav navbar-nav navbar-right"></div>
        <div id="mySidenav2" class="sidenav">
            <nav class="navbar navbar-inverse openmenu">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">×
                            close</a></li>
                    </ul>
                    <div class="search-outer">
                        <div class="col-md-11">
                            <input placeholder="Search for products..." type="text">
                        </div>
                        <div class="col-md-1 text-right">
                            <a href="#"><img src="../static/assets/images/search-icon.png"
                                             alt="search-icon"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--  /top header  -->
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>
    <div class="inner-header">
        <!-- .inner-header -->
        <h2> Contact Info</h2>
        <div class="bdr">
            <ul>
                <li>Home</li>
                <li>/</li>
                <li><span>Contact Info</span></li>
            </ul>
        </div>
        <!-- /.inner-header -->
    </div>
</header>
<section>
    <!-- .contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact Info
                        </h2>
                    </div>
                </div>
                <div class="col-md-12 contact-info">
                    <ul>
                        <li>
                            <div class="img-icon">
                                <img src="../static/assets/images/contact-icon1.jpg" alt="phone-icon">
                            </div>
                            <strong>Our Address</strong>
                            <br/> 1234 Heaven Stress, Beverly Hill.
                        </li>
                        <li>
                            <div class="img-icon">
                                <img src="../static/assets/images/contact-icon2.jpg" alt="phone-icon">
                            </div>
                            <strong>Phone</strong>
                            <br/> Office: (800) 123 456 789
                        </li>
                        <li>
                            <div class="img-icon">
                                <img src="../static/assets/images/contact-icon3.jpg" alt="phone-icon">
                            </div>
                            <strong>email Address </strong>
                            <br/> Email: zcubewebsolutions@gmail.com
                        </li>
                    </ul>
                    <p>Outstock is a premium Templates theme with advanced admin module. It’s extremely customizable,
                        easy to use
                        and fully responsive and retina ready. Vel illum dolore eu feugiat nulla facilisis at vero eros
                        et accumsan et
                        iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
                        nulla facilisi.</p>
                    <div class="f-sicon2">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="contact-title">
                        <h2>
                            Contact From
                        </h2>
                    </div>
                    <form action="#" method="post" id="commentform" class="comment-form">
                        <div class="col-md-6">
                            <p>Name <span>*</span></p>
                            <p class="comment-form-author">
                                <input id="author" name="author" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Email <span>*</span></p>
                            <p class="comment-form-email">
                                <input id="email" name="email" value="" size="30" type="text">
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>Comments <span>*</span></p>
                            <p class="comment-form-comment">
                                <textarea id="comment" name="comment" cols="45" rows="6" placeholder="Comment"
                                          aria-required="true"></textarea>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="form-submit">
                                <input name="submit" id="submit" class="btn btn-secondary" value="send messages"
                                       type="submit"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.contact form  -->
</section>
<section>
    <img src="../static/assets/images/contact-map.jpg" alt="map"/>
</section>
<section th:replace="common/subscribe::subscribe"/>
<footer th:replace="common/footer::footer"/>

<div th:replace="common/script::script"/>
</body>

</html>
