<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"/>

<body>


<!--  Preloader  -->
<div th:replace="common/preloader::preloader"/>
<header>
    <nav th:replace="common/nav::nav"/>
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>


</header>
<!-- Login -->
<section class="subscribe text-center">
    <div class="container">
        <h2>Login</h2>
        <p>ubscribe to the Outstock mailing list to receive updates on new arrivals, special offers and <br> other
            discount information.</p>
        <form method="post" action="/doLogin">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6"><input type="text" name="username" placeholder="Input Username">
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6"><input type="text" name="userpass" placeholder="Input Password">
                </div>
                <div class="col">
                </div>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>

<!-- /Login -->
<footer th:replace="common/footer::footer"/>
<div th:replace="common/script::script"/>

</body>

</html>