<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::head"/>

<body>


<!--  Preloader  -->
<div th:replace="common/preloader::preloader"/>
<header>
    <nav th:replace="common/nav::nav"/>
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>
</header>
<section class="grid-shop">
    <!-- product-bg -->
    <div class="product-detail-bg">

        <div class="container">
            <div class="bdr">
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Shop</li>
                    <li>/</li>
                    <li><span>Products Simple</span></li>
                </ul>
            </div>
            <div class="row">
                <!-- left side -->
                <div class="col-sm-6 col-md-6">
                    <!-- product gallery -->
                    <div id="home-slider3" class="carousel fadein carousel-fade" data-ride="carousel">
                        <!-- .home-slider -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="caption">
                                    <img src="../static/assets/images/Products/1.jpg" alt="qoute-icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="caption">
                                    <img src="../static/assets/images/Products/11.jpg" alt="qoute-icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="caption">
                                    <img src="../static/assets/images/Products/8.jpg" alt="qoute-icon">
                                </div>
                            </div>
                            <div class="item">
                                <div class="caption">
                                    <img src="../static/assets/images/Products/16.jpg" alt="qoute-icon">
                                </div>
                            </div>
                            <ul class="carousel-indicators">
                                <li data-target="#home-slider3" data-slide-to="0" class="active"><img
                                        src="../static/assets/images/Products/1.jpg" alt="qoute-icon"></li>
                                <li data-target="#home-slider3" data-slide-to="1"><img
                                        src="../static/assets/images/Products/11.jpg" alt="qoute-icon"></li>
                                <li data-target="#home-slider3" data-slide-to="2"><img
                                        src="../static/assets/images/Products/8.jpg" alt="qoute-icon"></li>
                                <li data-target="#home-slider3" data-slide-to="3"><img
                                        src="../static/assets/images/Products/16.jpg" alt="qoute-icon"></li>
                            </ul>
                        </div>
                        <!-- /.home-slider -->
                    </div>
                    <!-- / product gallery -->
                </div>
                <!-- left side -->
                <!-- right side -->
                <div class="col-sm-6 col-md-6">
                    <!-- .pro-text -->
                    <div class="pro-text product-detail">
                        <!-- /.pro-img -->
                        <a href="#">
                            <h4>Wooden Container Bowl</h4>
                        </a>
                        <div class="star2">
                            <ul>
                                <li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li class="red-color"><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><a href="#">10 review(s)</a></li>
                                <li><a href="#"> Add your review</a></li>
                            </ul>
                        </div>
                        <p class="price-detail">$160.00 <span>$254.00</span></p>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                            illum dolore eu
                            feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                            praesent luptatum zzril
                            delenit augue duis dolore te feugait nulla facilisi. </p>
                        <ul class="short-ul">
                            <li>Claritas est etiam processus dynamicus.</li>
                            <li>Qui sequitur mutationem consuetudium lectorum.</li>
                            <li>Claritas est etiam processus dynamicus.</li>
                        </ul>
                        <div class="size">
                            <p>Size *</p>
                            <div class="select-option">
                                <select>
                                    <option value="28">28</option>
                                    <option value="32">32</option>
                                    <option value="34">34</option>
                                    <option value="36">36</option>
                                    <option value="Featured Pots">- Please select -</option>
                                </select>
                            </div>
                        </div>
                        <div class="size">
                            <p>Color *</p>
                            <div class="select-option">
                                <select>
                                    <option value="Black">Black</option>
                                    <option value="Red">Red</option>
                                    <option value="Featured Pots">- Please select -</option>
                                </select>
                            </div>
                        </div>
                        <form>
                            <div class="numbers-row">
                                <input type="text" name="french-hens" id="french-hens" value="3">
                            </div>
                        </form>
                        <a href="#" class="addtocart2">Add to cart</a>
                        <a href="#" class="hart"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        <a href="#" class="hart"><i class="fa fa-sliders" aria-hidden="true"></i></a>
                        <div class="tag">
                            <p>Categories: <span>Bags, Blazers, Boots, Jackets, Pants, Shirts.</span></p>
                            <p>Tag: <span>outerwear.</span></p>
                        </div>
                        <div class="share">
                            <ul>
                                <li>Share:</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.pro-text -->
                </div>
            </div>
        </div>

    </div>
    <!-- / product-bg -->

    <!-- .grid-shop -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="tab-bg">
                        <ul>
                            <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                            <li><a data-toggle="tab" href="#menu1">ADDITIONAL INFORMATION</a></li>
                            <li><a data-toggle="tab" href="#menu2">REVIEWS (4)</a></li>
                        </ul>
                    </div>
                    <div class="tab-content product-detail-full">
                        <div id="home" class="tab-pane fade in active">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when anunknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but
                                also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                with the release of
                                Letraset sheets containing Lorem Ipsum passages..</p>
                            <ul>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                            </ul>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining
                                essentially unchanged. It was popularised in the 1960s with the release.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when anunknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but
                                also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                with the release of
                                Letraset sheets containing Lorem Ipsum passages..</p>
                            <ul>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                            </ul>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining
                                essentially unchanged. It was popularised in the 1960s with the release.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the
                                industry's standard dummy text ever since the 1500s, when anunknown printer took a
                                galley of type and
                                scrambled it to make a type specimen book. It has survived not only five centuries, but
                                also the leap into
                                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                                with the release of
                                Letraset sheets containing Lorem Ipsum passages..</p>
                            <ul>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                                <li>Claritas est etiam processus dynamicus.</li>
                                <li>Qui sequitur mutationem consuetudium lectorum.</li>
                            </ul>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining
                                essentially unchanged. It was popularised in the 1960s with the release.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right side -->
        </div>
    </div>
    <!-- /.grid-shop -->
</section>
<section>
    <!-- .Related Products -->
    <div class="container">
        <div class="tittle text-center">
            <h2>Related Products</h2>
        </div>
        <div class="row">
            <div class="row wow zoomIn  animated" data-wow-duration=".5s" data-wow-delay=".2s">
                <div class="col-md-3">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img"><img src="../static/assets/images/Products/21.jpg" alt="2">
                            <!-- .hover-img -->
                            <div class="hover-img">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#quickModal"
                                           data-whatever="@mdo"><i class="fa fa-search"
                                                                   aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.hover-img -->
                        </div>
                        <!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to
                        cart</a>
                        <div class="price">$160.00</div>
                    </div>
                    <!-- /.pro-text -->
                </div>
                <div class="col-md-3">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img"><img src="../static/assets/images/Products/26.jpg" alt="2">
                            <!-- .hover-img -->
                            <div class="hover-img">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#quickModal"
                                           data-whatever="@mdo"><i class="fa fa-search"
                                                                   aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="new tage"><span class="new-text">NEW</span> <span class="pres-text">-15%</span>
                            </div>
                            <!-- /.hover-img -->
                        </div>
                        <!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to
                        cart</a>
                        <div class="price">$160.00</div>
                    </div>
                    <!-- /.pro-text -->
                </div>
                <div class="col-md-3">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img"><img src="../static/assets/images/Products/24.jpg" alt="2">
                            <!-- .hover-img -->
                            <div class="hover-img">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#quickModal"
                                           data-whatever="@mdo"><i class="fa fa-search"
                                                                   aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.hover-img -->
                        </div>
                        <!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to
                        cart</a>
                        <div class="price">$160.00</div>
                    </div>
                    <!-- /.pro-text -->
                </div>
                <div class="col-md-3">
                    <!-- .pro-text -->
                    <div class="pro-text">
                        <!-- .pro-img -->
                        <div class="pro-img"><img src="../static/assets/images/Products/17.jpg" alt="2">
                            <!-- .hover-img -->
                            <div class="hover-img">
                                <ul>
                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#quickModal"
                                           data-whatever="@mdo"><i class="fa fa-search"
                                                                   aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="new tage"><span class="new-text">NEW</span> <span class="pres-text">-15%</span>
                            </div>
                            <!-- /.hover-img -->
                        </div>
                        <!-- /.pro-img --><a href="#">Wooden container Bowl</a> <a href="#" class="addtocart">+ Add to
                        cart</a>
                        <div class="price">$160.00</div>
                    </div>
                    <!-- /.pro-text -->
                </div>

            </div>
        </div>
    </div>
    <!-- /.Related Products -->
</section>

<section th:replace="common/subscribe::subscribe"/>
<footer th:replace="common/footer::footer"/>

<div th:replace="common/script::script"/>

</body>

</html>
