<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platin | A Premium Multi - Ecommerce</title>
    <!-- Standard -->
    <link rel="shortcut icon" href="../static/assets/img/ficon.png">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" type="text/css">
    <!-- Dropdownhover CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap-dropdownhover.min.css" type="text/css">
    <!-- latest fonts awesome -->
    <link rel="stylesheet" href="../static/assets/font/css/font-awesome.min.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css" type="text/css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/assets/css/style.css" type="text/css">
    <!-- slider CSS -->
    <link rel="stylesheet" href="../static/assets/css/slider.css" type="text/css">
    <!--  baguetteBox -->
    <link rel="stylesheet" href="../static/assets/css/baguetteBox.css">
    <!-- Owl Carousel Assets -->
    <link href="../static/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/assets/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<!--  Preloader  -->
<div id="preloader">
    <div id="loading">
    </div>
</div>
<header>

    <nav th:replace="common/nav::nav"/>
    <div th:replace="common/search::search"/>
    <div th:replace="common/menu::menu"/>
    <div class="inner-header inner-header2">
        <!-- .inner-header -->
        <h2>Shopping Cart</h2>
        <div class="bdr">
            <ul>
                <li>Home</li>
                <li>/</li>
                <li>Shop</li>
                <li>/</li>
                <li><span>Shopping Cart</span></li>
            </ul>
        </div>
        <!-- /.inner-header -->
    </div>
</header>
<section class="shopping-cart">
    <!-- .shopping-cart -->
    <div class="container">
        <div class="col-md-12">
            <h2>You cart items</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Product name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                <tr>
                    <td><img src="../static/assets/images/cart-img1.jpg" alt="13"></td>
                    <td>Name product #01</td>
                    <td>Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.</td>
                    <td><strong>$160.00</strong></td>
                    <td><input type="number" name="quantity" min="1" max="500"></td>
                    <td><strong>$160.00</strong></td>
                    <td><span class="red"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                </tr>
                <tr>
                    <td><img src="../static/assets/images/cart-img2.jpg" alt="13"></td>
                    <td>Name product #02</td>
                    <td>Lorem Ipsum is simply dummy text of the printing<br/> and typesetting industry.</td>
                    <td><strong>$180.00</strong></td>
                    <td><input type="number" name="quantity" min="1" max="500"></td>
                    <td><strong>$180.00</strong></td>
                    <td><span><i class="fa fa-times" aria-hidden="true"></i></span></td>
                </tr>
            </table>
            <div class="col-sm-6 col-md-6">
                <a href="#" class="button red">CONTINUE SHOPPING</a>
            </div>
            <div class="col-sm-6 col-md-6 text-right">
                <a href="#" class="button">UPDATE SHOPPING CART</a>
                <a href="#" class="button">CLEAR SHOPPING CART</a>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="shipping-outer">
                    <h2>Calculate shipping</h2>
                    <div class="row">
                        <ul>
                            <li>
                                <div class="col-md-12 counttry">
                                    <div class="lable">Select your Counttry:</div>
                                    <input name="counttry" placeholder="United States (USA)" type="text">
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="lable">Select your State:</div>
                                    <div class="size State">
                                        <div class="select-option">
                                            <select>
                                                <option value="28">28</option>
                                                <option value="32">32</option>
                                                <option value="34">34</option>
                                                <option value="36">36</option>
                                                <option value="Featured Pots">State / City</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="lable">Zip Code:</div>
                                    <input name="counttry" placeholder="Zip Code" type="text">
                                </div>
                            </li>
                        </ul>

                    </div>
                    <a href="#" class="button2">Update Shipping</a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="shipping-outer">
                    <h2>Coupon code</h2>
                    <ul>
                        <li>
                            <div class="col-md-12">
                                <div class="lable">Coupon Code:</div>
                                <input name="Coupon Code" placeholder="Coupon Code" type="text">
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="button2">REdeem code</a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="shipping-outer">
                    <h2>Cart totals</h2>
                    <ul>
                        <li>Cart Subtotal: <strong>$640.00</strong></li>
                        <li>Shipping and Handling: <strong>$10.00</strong></li>
                        <li>Cart Totals: <strong>$650.00</strong></li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="redbutton">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.shopping-cart -->
</section>
<section th:replace="common/subscribe::subscribe"/>
<footer th:replace="common/footer::footer"/>

<script src="../static/assets/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/assets/js/bootstrap.min.js"></script>
<script src="../static/assets/js/bootstrap-dropdownhover.min.js"></script>
<script src="../static/assets/js/incrementing.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/assets/js/jquery.easing.min.js"></script>
<script src="../static/assets/js/wow.min.js"></script>
<!--  Custom Theme JavaScript  -->
<script src="../static/assets/js/custom.js"></script>
<!-- owl carousel -->
<script src="../static/assets/owl-carousel/owl.carousel.js"></script>

</body>

</html>
